.card-ser{
    margin-top: 40px;
    i{
        font-size: 40px;
        margin-bottom: 20px;
        color: var(--main--color);
    }
    .fa-heart{
        font-size: 20px;
        cursor: pointer;
    }
    h3{
        font-size: 20px;
        font-weight: 500;
    }
    p{
        color: gray;
        font-weight: 400;
        
    }
    a{
        color: var(--main--color);
        margin-top: 20px;
    }
}